body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #cc0066 0%, #ff9966 100%);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    justify-content: center;

}
h1{
  padding-left: 20px;
  margin-bottom: 0px;
}

h5{
    padding-left: 20px;
    margin-top: 10px;
    font-weight: normal;
}
.filter{
    display: flex;
}


input{
    width: 80%;
    padding: 12px 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.add{
    background-color: pink;
    width: 90%;
    text-align: center;
    margin: 25px;
    padding: 15px;
    color: white;
    font-size: 16px;


}

.icons{
    float: right;
    padding-right: 50px;
}

.list:hover{
    font-size: 150%;
    background-color: lightgray;
    /* border-radius: 10%; */


}

#page {
  padding: 5px 5px;
  background: white;
  width:430px;
  height:150px;

}

a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  color: pink;
  margin-bottom: 20px;
}


.enter {
  margin-left: 360px;
  color: pink;
}


/* .list{
    margin-right: 40px;
} */
