<div class="container">
<h6><i class="material-icons">
keyboard_arrow_left
</i><a href="/">Go back</a></h6><h1>TODO List </h1>
<h5>A place to store things you have to do!</h5>
<div class="filter">
<input type="text" placeholder="Filter your to-dos" ng-model="$ctrl.search"/>
</div>
<task-list to-do-list="$ctrl.toDoList" search-list="$ctrl.search"></task-list>

<h4>{{$ctrl.toDolist}}</h4>
<input type="text" placeholder="Add your to-do" ng-model="$ctrl.newItem" ng-keydown="$ctrl.onKeyDown($event)"/>
<div>
<button class ="add" ng-click= "$ctrl.add()">Add Item</button>
</div>
</div>
